*.debug.xml
node_modules/
build/
dist/
docs/
releases/
*.DS_Store
**/bower_components/
/Releases/*
Icon?
env.json
**/node_modules/
/AddExternalUserPoC/packages
/AddExternalUserPoC/GraphFunctions/bin/Debug
/AddExternalUserPoC/GraphFunctions/obj/Debug
/AddExternalUserPoC/AddExternalUserPoC/bin/Debug
/AddExternalUserPoC/AddExternalUserPoC/obj/Debug
/AddExternalUserPoC/AddExternalUserPoC/App.config
